[submodule "public"]
	path = public
	url = git@github.com:cestlaz/cestlaz.github.io.git
	branch = master
[submodule "themes/anubis"]
	path = themes/anubis
	url = git@github.com:cestlaz/hugo-theme-anubis.git
[submodule "cestlaz.github.io"]
	path = cestlaz.github.io
	url = https://github.com/cestlaz/cestlaz.github.io
	branch = master
