<header class="header">

  <style>
   .zlogo { height:100px; width:100px;float:right;}
    </style>
	<div class="container">
		<div class="logo" role="banner">
		  <a class="logo__link" href="{{ "" | relLangURL }}" title="{{ .Site.Title }}" rel="home">
		    <div class="logo__title">{{ .Site.Title }}

                      <img class="zlogo" src="/assets/thluffy.jpg">


		    </div>
		    
				{{ with .Site.Params.subtitle }}<div class="logo__tagline">{{ . }}</div>{{ end }}
			</a>
<p><a href="http://feeds.feedburner.com/CestLaZ" rel="alternate" type="application/rss+xml"><img src="//feedburner.google.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/></a>&nbsp;<a href="http://feeds.feedburner.com/CestLaZ" rel="alternate" type="application/rss+xml"></a>
		</div>
	</div>
	{{ partial "menu.html" . }}
</header>
